*{
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: black;
    color: white;
}

.header{
    padding: 20px;
    border-bottom: 1px solid white;
}

.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.context{
    width: 394px;
    padding: 30px;
    border:1px solid white;
    border-radius: 5px;
    text-align: center;
    margin-top: 100px;
}

.result{
    border: 1px solid white;
    margin-top: 100px;
}

h1{
    padding: 10px;
}

p{
    padding: 10px;
}

#btn{
    background-color: white;
    padding: 15px;
    margin:10px;
    border-radius:5px;
    color: black;
}

#btn:disabled{
    background-color: black;
    color: black;
    cursor: not-allowed;
    opacity: 0.6;
}
